<div class="row" style="padding-top: 5px;">
    <div class="col-xs-3">
        <select class="form-control" data-ng-model="level" tooltip="Level">
            <option value="">Level</option>
            <option value="proficient">Proficient</option>
            <option value="intermediate">Intermediate</option>
            <option value="beginner">Beginner</option>
        </select>
    </div>
    <div class="col-xs-4">
        <select class="form-control" data-ng-model="name" tooltip="Language">
            <option value="">Language</option>
            <option value="EN">English</option>
            <option value="IT">Italian</option>
            <option value="DE">German</option>
            <option value="FR">French</option>
        </select>
    </div>
    <div class="col-xs-3">
        <input type="text" data-ng-model="remark" class="form-control" placeholder="Remark" tooltip="Remark">
    </div>
    <div class="col-xs-2">
        <a class="btn" href="#" tooltip="Delete" ng-click="deleteRow($index);">
            <i class="glyphicon glyphicon-minus"></i>
        </a>{{$index}}
    </div>
</div>