.notificaciones.ngn-info{
    background-color: #ff8212 !important;
}

.notificaciones.ngn-error{
    background-color: #FF0000 !important;
}


.notificaciones.ngn-success{
    background-color: #808080 !important;
}


.notificaciones.ngn-warn{
    background-color: #FF9900 !important;
}


.notificaciones.ngn-grimace{
    background-color: #660099 !important;
}

