<div class="row  padding-top">
    <div class="row">
        <div class="container">
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" ng-model="unidad.marca" required>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" ng-model="unidad.modelo" required>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" ng-model="unidad.placa" required>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" ng-model="unidad.seguro" required>
            </div>
            <div class="col-md-2">
                <select ng-model="unidad.tipo_unidad">
                    <option ng-repeat="unidad in tipo_unidades" value={{unidad.id}}>{{unidad.unidad}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <a class="btn btn-default btn-danger" ng-click="deleteRow($index);">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-default btn-success" tooltip="Add" ng-click='addRow()'>
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

    </div>

    <div    ng-if="unidad.placa"
            flow-init="config"
            flow-files-submitted="$flow.upload()"
            flow-file-success="$file.msg = $message">

        <div class="dropUpload">
            <div class=""
                 flow-drop
                 flow-drag-enter="style={border:'4px solid green'}"
                 flow-drag-leave="style={}">

                <span class="btn btn-default" flow-btn>Subir imagen</span>
                <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">
                    Subir carpeta
                </span>
                <b>ó</b>
                Arrastra las imagenes aquí.
            </div>
        </div>


        <div class="row">
            <div class="col-md-3" ng-repeat="file in $flow.files">
                <div class="loader" ng-show="file.isUploading()">
                </div>
                <a class="btn btn-default btn-danger deleteImg" ng-click="file.cancel(); borrarUnidad(file.name)">
                    <i class="fa fa-times"></i>
                </a>
                <img class="img-responsive img-thumbnail" ng-src="{{image_root+file.name}}" alt="">
            </div>
        </div>


    </div>


</div>